In [45]:
# pandas를 활용하여 데이터 처리
import pandas as pd

dict_data = {'a':1, 'b':2, 'c':3} # 'a'는 key값

ar = pd.Series(dict_data) # dictionary를 series 형식으로 변환

print(type(dict_data))
print(type(ar))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [46]:
print(dict_data) # 딕셔너리
print(ar)  # 시리즈

print(dict_data['a'], " : " ,ar['a'],' : ', ar[0]) # series에서 'a'는 index명
print(ar[['a','c']])
ar[1:2]     # index 첨자로 접근하면 마지막 첨자 위치 data 미포함★
ar['b':'c'] # index명으로 접근하면 마지막 data포함★
# => dictionary를 series로 변경 : dictionary의 key가 series의 index명이 됨
# 접근은 index명 또는 index 첨자로 접근 가능

{'a': 1, 'b': 2, 'c': 3}
a    1
b    2
c    3
dtype: int64
1  :  1  :  1
a    1
c    3
dtype: int64

b    2
c    3
dtype: int64

In [47]:
dict_data = {'a':[1,2,3], 'b':[4,5,6], 'c':[7,8,9]}

In [48]:
df = pd.DataFrame(dict_data)
print('Print df :\n\n',df)
print()
# index명을 부여
df1 = pd.DataFrame(dict_data, index=['idx1','idx2','idx3'])
print('Print df1 :\n\n',df1)
print()
a_var = [[1,2,3],[4,5,6],[7,8,9]]
df2 = pd.DataFrame(a_var,index=['idx1','idx2','idx3'],columns=['a1','b1','c1'])
print('Print df2 :\n\n',df2)
print()
print(df2.rename(index={'idx1':'ix1','idx2':'ix2','idx3':'ix3'}, inplace=True))
df2

#오전수업 끝

Print df :

    a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

Print df1 :

       a  b  c
idx1  1  4  7
idx2  2  5  8
idx3  3  6  9

Print df2 :

       a1  b1  c1
idx1   1   2   3
idx2   4   5   6
idx3   7   8   9

None

     a1  b1  c1
ix1   1   2   3
ix2   4   5   6
ix3   7   8   9

### - 행 index명 변경 : object.index = 새로운 행 index 배열
### - 열 index명 변경 : object.columns = 새로운 열 index 배열

In [50]:
a_var = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(a_var)
df

df.index=['행1','행2','행3']
df.columns=['열1','열2','열3']
df

df1=df
print("df1 :",df1)
df1.rename(index={'행1':'ida','행2':'idb'}, inplace=True)
print(df1)

# 행 삭제 axis=0, 열 삭제 axis=1
df2 = df1
df2.drop('ida',axis=0, inplace=True) # axis=0 가로축부터 0으로 시작
print('df1 :',df1)

df2.drop('열1',axis=1, inplace=True) # axis=1 세로축부터 0으로 시작
print('df2 :',df2)

df1 :     열1  열2  열3
행1   1   2   3
행2   4   5   6
행3   7   8   9
     열1  열2  열3
ida   1   2   3
idb   4   5   6
행3    7   8   9
df1 :      열1  열2  열3
idb   4   5   6
행3    7   8   9
df2 :      열2  열3
idb   5   6
행3    8   9

In [51]:
df1 = df # df의 주소를 복사, df의 값이 변하면 df1의 값도 변함
df2 = df[:] # df의 값을 복사, df와 df2를 각기 다른 자료로 처리 가능
df1.drop('idb', axis=0, inplace=True) # 원래 자료(df)가 바뀐다
print('df:',df)
df2

df:     열2  열3
행3   8   9

     열2  열3
idb   5   6
행3    8   9

In [3]:
# 문)

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'수학' : [90, 80, 70],'영어' : [98, 89, 95],\
             '음악' : [85, 95, 100],'체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df)
print('\n')
# 데이터프레임 df를 복제하여 변수 df2에 저장, df2의 1개 행(row)삭제
df2 = df[:]
df2.drop('서준', inplace=True)
print(df2)
print()
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)삭제
df3 = df[:]
df3.drop(['서준','우현'], inplace=True)
print(df3)
print()
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
인아  70  95  100  90

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

C:\Users\Lim\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\Lim\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [2]:
#데이터 프레임의 행 데이터 선택 : loc, iloc
#행 선택 : loc , 정수형 위치 index : iloc
exam_data = {'수학' : [90, 80, 70],'영어' : [98, 89, 95],\
             '음악' : [85, 95, 100],'체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index=['서준','우현','인아'])

print(df.loc['서준'])
print()

print(df.iloc[0])
print()

print(df.loc['서준':'인아']) # ['인아']자료도 포함
print()

print(df.iloc[0:2]) # 첨자 index2의 자료는 포함하지 않음
print()

print(df['수학']) # 컬럼 인덱스로 검색 
print()

print(df.수학)
print()

print(df[['수학','영어']]) # 컬럼 인덱스로 검색

df.loc['일남']= [100,90,80,88] 
# row로 데이터를 추가하는 경우 df.loc[index명] = [값...]
print(df)

NameError: name 'pd' is not defined

In [94]:
def input_score():
    scores = input("국 영 수 점수 입력 >").split()
    for i, score in enumerate(scores):
        scores[i] = int(score) #데이터 타입 변환
    return scores

In [104]:
#문 키보드에서 이름과 국어,영어,수학 점수를 입력받아 이름을 인덱스로 저장하는
#    score dataframe을 생성
# 결과를 화면에 출력, 이름에 quit 입력되면 입력 종료
import pandas as pd

df_a =pd.DataFrame(columns=['국어','영어','수학']) # 컬럼명만 부여한 DF생성

while True:
    name = input("이름 입력, quit -> 종료 :")
    if name == 'quit':
        break
        
    score = input_score()
    df_a.loc[name] = score # 입력된 name 인덱스로 점수 추가
    
df_a # 데이터 출력
#검색하고자 하는 이름을 입력받아 성적의 합계 출력
# 컬럼 접근하는 방법 :  df.컬럼명 또는 df[컬럼명]
# row를 접근하는 방법 : df.iloc[인덱스], df.iloc[[1,3,5]]
#                       df.iloc[0:3] df.loc['aa':'cc'] df.loc[['aa','cc']]
# df.iloc[시작 : 끝 : 간격]
# df.loc[인덱스명, 컬럼명], df.iloc[index 번호, column 열 번호]

이름 입력, quit -> 종료 :밥
국 영 수 점수 입력 >10 20 30
이름 입력, quit -> 종료 :샘
국 영 수 점수 입력 >20 30 40
이름 입력, quit -> 종료 :킴
국 영 수 점수 입력 >30 40 50
이름 입력, quit -> 종료 :존
국 영 수 점수 입력 >40 50 60
이름 입력, quit -> 종료 :quit

   국어  영어  수학
밥  10  20  30
샘  20  30  40
킴  30  40  50
존  40  50  60

In [106]:
search_name = input('검색할 이름 입력 :')

for name in list(df_a.index):
    if search_name == name:
        kor = df_a.loc[search_name,'국어']
        eng = df_a.loc[search_name,'영어']
        math = df_a.loc[search_name,'수학']
        print("{} : {}, {}, {}, total = {}".format(search_name,kor,eng,math,kor+eng+math))

검색할 이름 입력 :밥
밥 : 10, 20, 30, total = 60

In [11]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df)
print('\n')

# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
print('\n')

# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수) 
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악':'체육'] # 음악부터 체육까지
print(e)
f = df.iloc[0, 2:] 
print(f)
print('\n')

# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수) 
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j = df.iloc[0:2, 2:]
print(j)

# 국어 점수를 모두 80점으로 추가
df['국어']=80
print(df)

df.loc["행추가"] = 0
df

# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악','체육' 점수)

print(df.loc[['서준','우현'],['음악','체육']])

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


85
85


음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64


    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80
    음악   체육
이름
서준  85  100
우현  95   90

In [ ]:
문)
1. 이름을 입력받아 데이터프레임의 인덱스로 저장하고
    키와 몸무게를 입력 받아 저장.
    키와 몸무게가 float이 입력되지 않으면 다시 입력(type() != float)
    이름에 'q'가 입력되면 입력 종료.
2. 찾고자 하는 이름을 입력받아 키와 몸무게를 출력
    키와 몸무게를 다시 입력받아 기존의 값 변경
3. 평균보다 적은 키를 가진 사람의 이름과 키 출력

In [ ]:
def input_dataframe(df):
    while True:
        name = input("이름 입력 quit 종료 >  ")
        if name == "quit":
            break

        data = input_data()
        df.loc[name] = data  # 입력된 name 인덱스로 데이터 추가

def input_data():
    while True:
        values = input("키와 몸무게 ex) 170 51.2 > ").split()
        if len(values) == 2:
           break
        else:
            print("키와 몸무게를 형식에 맞게 입력하세요 ")
           
    for i, value in enumerate(values):
        values[i] = float(value)
    return values

def search_data(name, df):
    for i, idx_name in enumerate(list(df.index)):
        if name == idx_name:
            return i

def print_data(idx, df):
    print("{} : {}, {}".format(df.iloc[idx], df.iloc[idx,0], df.iloc[idx,1]))

In [6]:
import pandas as pd

df = pd.DataFrame(columns=["키","몸무게"])

input_dataframe(df)  # 자료 입력
print("1 : ")
print(df)

이름 입력 quit 종료 >  김
키와 몸무게 ex) 170 51.2 > 김 150 24124.124
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > 김 151 35.1
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > 152 515.1
이름 입력 quit 종료 >  나
키와 몸무게 ex) 170 51.2 > 231 562112.1
이름 입력 quit 종료 >  박
키와 몸무게 ex) 170 51.2 > 5345 124.1
이름 입력 quit 종료 >  이
키와 몸무게 ex) 170 51.2 > 5353 24142.1
이름 입력 quit 종료 >  q
키와 몸무게 ex) 170 51.2 > quit
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > qui
키와 몸무게를 형식에 맞게 입력하세요
키와 몸무게 ex) 170 51.2 > 3 3921
이름 입력 quit 종료 >  quit
1 :
        키       몸무게
김   152.0     515.1
나   231.0  562112.1
박  5345.0     124.1
이  5353.0   24142.1
q     3.0    3921.0

In [7]:
# 검색하고자 하는 이름 입력
search_name = input("검색할 이름 입력 : ")
idx = search_data(search_name, df)
if idx < len(df):
    print_data(idx, df)
    value = input_data() #  키와 몸무게 입력
    df.iloc[idx] = value
print("2 : ")
df

검색할 이름 입력 : 박
키      5345.0
몸무게     124.1
Name: 박, dtype: float64 : 5345.0, 124.1
키와 몸무게 ex) 170 51.2 > 156 34
2 :

        키       몸무게
김   152.0     515.1
나   231.0  562112.1
박   156.0      34.0
이  5353.0   24142.1
q     3.0    3921.0

In [10]:
#평균키보다 적은 키를 가진 사람의 이름과 키를 출력

avg_height = sum(df.키)/len(df.키)
print(avg_height)
for i, height in enumerate(df.키):
    if height < avg_height:
        print("3 => {} : {}".format(df.iloc[i], df.iloc[i,0]))

1179.0
3 => 키      152.0
몸무게    515.1
Name: 김, dtype: float64 : 152.0
3 => 키         231.0
몸무게    562112.1
Name: 나, dtype: float64 : 231.0
3 => 키      156.0
몸무게     34.0
Name: 박, dtype: float64 : 156.0
3 => 키         3.0
몸무게    3921.0
Name: q, dtype: float64 : 3.0